pip>=23.0.0
bump2version==1.0.1
wheel==0.45.1
watchdog==6.0.0
flake8==7.2.0
tox==4.25.0
coverage==7.8.0
Sphinx==7.4.7
twine==6.1.0

pytest==8.3.5
black==25.1.0

wagtail==6.0.6
Django==5.1.8
cryptography==44.0.2
wagtail-generic-chooser==0.6.1
